.button {
    background-color: #EF2F2F;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    padding: 0.7rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.button:hover {
    background-color: #ff5858;
}