.container {
    background-color: #EF2F2F;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffff;
    gap: 1rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.icon {
    background: rgba(255, 255, 255, 0.15);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
}

/*responsividade*/
@media(max-width:768px){

.container{
    padding:2.5rem 1rem;
    text-align:center;
}

.container p{
    max-width:300px;
}
}